# Copy this file to terraform.tfvars and customize the values

# General
resource_prefix = "ai"  # Will be combined with 3-char random suffix
aws_region      = "us-east-1"

# HCP Configuration
hcp_client_id     = "<hcp-client-id>"
hcp_client_secret = "<hcp-client-secret>"

# DocumentDB Configuration
docdb_master_username    = "docdbadmin"
docdb_master_password    = "ChangeMe123!"  # Change this to a secure password
docdb_instance_class     = "db.t3.medium"
docdb_instance_count     = 1

# Bastion Host Configuration  
bastion_instance_type = "t3.medium"

# JWT Auth Configuration
jwt_oidc_discovery_url = "https://your-oidc-provider.com/.well-known/openid_configuration"
jwt_bound_issuer="https://login.microsoftonline.com/<tenant-id>/v2.0

# AzureAD service principal configuration
azure_client_id="your-azure-service-principal-client-id"
azure_client_secret="your-azure-service-principal-client-secret"
azure_tenant_id="your-azure-tenant-id"
ad_user_password="password-for-test-users!"
